body {
  width: 100%; min-height: 100%;
  background-image: url("/static/images/screen_2x.jpg");
  background-repeat: repeat;
  background-size: cover;
}

.pen_container {
  text-align: center;
  padding-top: 2%;
  min-height: 80vh;
  background-image: url("/static/images/pen.jpg");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  position: relative;
}

.menu_x {
  width: 200px;
}

.content {
  padding-left: 35%;
}

.todo_text  {
  border-style: solid;
}