{% extends "base.html" %}

{% block content %}

{% if not user %}
    <h1>
        Please login first to save your work !
    </h1>
{% else %}
    <h1 style="padding-bottom: 30px">
        Hello {{ user }}, Here is your todo list:
    </h1>
    {% for line in all_todos %}
        {% if line.is_done %}
            <h3 class="todo_text"><del>{{ line.todo }}</del>
                <a class="btn" href="{{ url_for('main.delete', delete_id=line.id)}}" role="button">❌</a>
            </h3>
        {% else %}
            <h3 class="todo_text">{{ line.todo }}
                <a class="btn" href="{{ url_for('main.update', update_id=line.id)}}" role="button">✅</a>
            </h3>
        {% endif %}
    {% endfor %}

    <form style="padding-top: 30px" action="{{ url_for('main.index') }}" method="post">
         <h3>Type your to od items here: <input type="text" name="projectFilepath"></h3>
        <input type="submit">
    </form>


{% endif %}

{% endblock %}

